@layer components {

    .layout.fancy-layout :not(.nested-form) > .form-widget > .layout-row {

        /* form fields */
        > .form-tabless-fields {
            label {
                @apply normal-case text-white text-sm;
            }

            input[type=text] {
                @apply
                    bg-white
                    bg-opacity-10
                    text-lg
                    font-light
                    px-2
                    py-1.5
                    mt-1
                    focus:bg-opacity-20
                    !important;
            }

            &[disabled="disabled"] {
                @apply bg-white bg-opacity-20 cursor-not-allowed;
            }
        }

        /* form actions */
        .form-buttons {
            @apply flex justify-start items-center p-0 my-2;

            span.btn-text {
                @apply
                    flex
                    items-center
                    text-white
                    text-sm
                    px-0
                    py-1.5 !important;

                a {
                    @apply text-white hover:no-underline ml-2 !important;
                }
            }

            .btn {
                &:not(:last-child) {
                    @apply mr-2;
                }

                &.btn-default {
                    @apply
                        text-white
                        opacity-100
                        rounded-md
                        px-5
                        py-1.5
                        mt-0
                        hover:opacity-80;

                    &.empty {
                        @apply bg-transparent;
                    }

                    &[class*="oc-icon-"] {

                    }
                }

                &.btn-primary {
                    @apply flex items-center;

                    @apply
                        text-white
                        opacity-100
                        bg-transparent
                        rounded-md
                        border
                        border-solid
                        border-transparent
                        px-4
                        py-1.5
                        mt-0
                        hover:border-white;
                }

                &.empty {
                   @apply mt-0;
                }
            }

            /* right aligned buttons */
            &-right {
                @apply flex flex-grow items-center justify-end;

                .btn {
                    &.btn-primary {
                        @apply
                            text-primary
                            bg-white
                            rounded-md
                            px-4
                            py-1.5
                            opacity-100
                            !important;
                    }
                }
            }
        }

        /* secondary tabs */
        > .control-tabs.secondary-tabs {

            > div > ul.nav-tabs {
                @apply flex items-center bg-secondary;

                > li {
                    @apply flex items-center;

                    > a {
                        @apply flex items-center text-white px-4 py-2.5;

                        > .title [class*="icon-"] {
                            @apply mr-1;
                        }
                    }

                    &.active > a {
                        @apply bg-white text-secondary;
                    }
                }
            }

            /* override for winter.css */
            &.secondary-content-tabs > div > ul.nav-tabs > li {
                @apply ml-0;
            }
        }
    }
}
