@layer base {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply block
            w-full
            rounded-md
            border-none
            text-neutral-600
            placeholder-neutral-300
            bg-neutral-100
            focus:outline-none
            focus:bg-accent-50
            focus:border
            focus:border-accent-400
            focus:z-10
            disabled:opacity-50
            disabled:cursor-not-allowed
            dark:bg-primary-500
            dark:placeholder-primary-600
            dark:text-primary-50
            dark:focus:bg-accent-700
            dark:focus:border
            dark:focus:border-accent-700
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea {
        &.xs {
            @apply text-xs px-3 py-2;
        }

        &.sm {
            @apply text-sm px-3 py-2;
        }

        &.md {
            @apply text-base px-5 py-2.5;
        }

        &.lg {
            @apply text-lg px-5 py-3;
        }

        &.xl {
            @apply text-xl px-6 py-3.5;
        }
    }

    select {
        &.xs {
            @apply text-xs;
        }

        &.sm {
            @apply text-sm;
        }

        &.md {
            @apply text-base;
        }

        &.lg {
            @apply text-lg;
        }

        &.xl {
            @apply text-xl;
        }
    }

    [type='checkbox'],
    [type='radio'] {
        /* @apply text-primary
            focus:ring-primary
            focus:border-primary
            disabled:opacity-50
            disabled:cursor-not-allowed
            dark:bg-neutral-700
            dark:border-neutral-600
            dark:placeholder-neutral-400
            dark:text-primary
            dark:focus:ring-primary
            dark:focus:border-primary; */
    }

    label {
        @apply text-sm font-medium text-neutral-900 block mb-2 dark:text-neutral-300 cursor-pointer;
    }
}
